.box{
    width: 200px;
    height: 300px;
    border: 2px solid red;
    background-color: blue;
    border-radius: 5px;
}

.content{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    
    border-radius: 5px;
    color:red;
}

.result{

  width: 150px;
  background-color:red;  
  color: aqua;
  height: 40px;
  border: none;
  border-radius: 6px;
}